@page "/card"
@layout EmptyLayout

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-2 bg-white b-card-rad border-1">
            <div class="border-start ">
                <div class="col-12 border-bottom d-flex ">
                    <RadzenButton style="box-shadow: none; color: rgb(124, 68, 255)"
                        class="card-btn rounded rounded-circle p-2 bg-white" Icon="location_on"
                        ButtonStyle="ButtonStyle.Light" Shade="Shade.Lighter" Size="ButtonSize.Small"></RadzenButton>
                    <p class="m-0 py-2 px-0 transparent-font">İl:<span class="card-span-font">Adana</span></p>
                </div>
                <div class="col-12 border-bottom d-flex">
                    <p class="m-0 p-2 transparent-font">İlçe:<span class="card-span-font">Seyhan</span></p>
                </div>
                <div class="col-12  d-flex ">
                    <p class="m-0 p-2 transparent-font">Mahalle:<span class="card-span-font">Reşatbey</span></p>
                </div>
            </div>
        </div>

    </div>
</div>