<header class="bg-transparent position-absolute w-100 top-0 start-0">
    <div class="row p-2 g-0 border-bottom align-items-center ">
        <div class="col-8 border-end">
            <div class="row g-0">
                <div class="col">
                    <p class="header-text d-inline-block m-0">Argem Address</p>
                </div>
                <div class="col">
                    <div class="input-group">
                        <input placeholder="Search" class="border-0 form-control form-control-sm py-1 border-rad-left"
                            type="text">
                        <button class="btn bg-white py-1 btn-sm border-rad-right custom-icon">
                            <span class="material-symbols-outlined">search</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <button type=" button" class="btn position-relative bg-transparent">
                <span class="material-symbols-outlined">
                    notifications
                </span>
                <span style="background-color:rgb(124, 68, 255);" class="badge top-25 end-0 position-absolute">
                    1
                </span>
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col p-2">

        </div>
    </div>
</header>




@code {
}
