.b-card-rad[b-1mu0o0kpg3] {
    border-radius: 8px;
}

.transparent-font[b-1mu0o0kpg3] {
    font-size: 12px;
    font-weight: 200;
    opacity: 0.8;
    color: rgb(96, 125, 139);

}

.card-span-font[b-1mu0o0kpg3] {
    font-size: 12px;
    font-style: italic;
    color: black;
}